body{
	background: #F2F2F2;
	font-family: sans-serif;
    color: rgb(71, 66, 58);
}

.isi table{
  width: 600px;
  margin-left: 200px;
  margin-right: 200px;

}
.navbar img{
  border-radius: 20px;
}
.mahasiswa{
	width: 500px;
	background: #72787c;
	margin: 100px auto;
	padding: 10px 20px 50px 20px;
	border-radius: 5px;
	box-shadow: 0px 10px 20px 0px #D1D1D1;
}

.bil{
	width: 300px;
	margin: 5px;
	border: none;
	font-size: 16pt;
	border-radius: 5px;
	padding: 10px;	
}

.jk{
    font-size: 16px;
    
}
.opt{
	font-size: 16pt;
	border: none;
	width: 215px;
	margin: 5px;
	border-radius: 5px;
	padding: 10px;
}

.tombol{
	background: #5153ec;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: #eee;
	font-size: 15pt;
	border-bottom:4px solid #3d46bf;
  text-decoration: none;
}

.judul{
	text-align: center;
	color: #eee;
	font-weight: normal;
}
.isi{
  padding-left: 200px;
  color: #5153ec;
  align-items: center;
}

.qwe table {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 67, 67);
    text-shadow: 1px 1px 0px #fff;
    background: #eaebec;
    border: rgb(109, 102, 102) 1px solid;
  }
  
.qwe table th {
    padding: 15px 35px;
    border-left:1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
  }
   
.qwe table th:first-child{  
    border-left:none;  
  }
   
.qwe table tr {
    text-align: center;
    padding-left: 20px;
  }
   
  .qwe table td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
  }
   
  .qwe table td {
    padding: 15px 35px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
  }
   
  .qwe table tr:last-child td {
    border-bottom: 0;
  }
   
  .qwe table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
   
  .qwe table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
   
  .qwe table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  .footer{
    background-color: #666;
  }